# Global values used across all apps
GLOBAL_INTERNAL_SERVICE_KEY=ADD_KEY_HERE

# App-specific values (prefix is basically the app name in uppercase, e.g. API_GATEWAY, CATALOG, etc.)
API_GATEWAY_PORT=8000
EVENT_BUS_PORT=8001
CATALOG_PORT=8002
PURCHASE_ORDERS_PORT=8003

EVENT_BUS_DATABASE_URL=ADD_DATABASE_URL_HERE
CATALOG_DATABASE_URL=ADD_DATABASE_URL_HERE
PURCHASE_ORDERS_DATABASE_URL=ADD_DATABASE_URL_HERE
API_GATEWAY_DATABASE_URL=ADD_DATABASE_URL_HERE

# Service routing (used by gateway + event-bus)
SERVICE_EVENT_BUS_URL=ADD_URL_HERE
SERVICE_CATALOG_URL=ADD_URL_HERE
SERVICE_PURCHASE_ORDERS_URL=ADD_URL_HERE
SERVICE_API_GATEWAY_URL=ADD_URL_HERE

