# Shared secret
INTERNAL_SERVICE_KEY=ADD_YOUR_OWN_SECRET

# Ports (optional for local isolated dev:prod runs)
# DO NOT ADD THESE PORTS TO RENDER OR OTHER PRODUCTION ENVIRONMENTS
API_GATEWAY_PORT=XXXX
EVENT_BUS_PORT=XXXX
CATALOG_PORT=XXXX
PURCHASE_ORDERS_PORT=XXXX
DEPARTMENTS_PORT=XXXX

# Per-service databases
EVENT_BUS_DATABASE_URL=ADD_YOUR_DATABASE_URL_HERE
CATALOG_DATABASE_URL=ADD_YOUR_DATABASE_URL_HERE
PURCHASE_ORDERS_DATABASE_URL=ADD_YOUR_DATABASE_URL_HERE
API_GATEWAY_DATABASE_URL=ADD_YOUR_DATABASE_URL_HERE
DEPARTMENTS_DATABASE_URL=ADD_YOUR_DATABASE_URL_HERE

# Service routing
SERVICE_EVENT_BUS_URL=ADD_SERVICE_URL_HERE
SERVICE_CATALOG_URL=ADD_SERVICE_URL_HERE
SERVICE_PURCHASE_ORDERS_URL=ADD_SERVICE_URL_HERE
SERVICE_API_GATEWAY_URL=ADD_SERVICE_URL_HERE
SERVICE_DEPARTMENTS_URL=ADD_SERVICE_URL_HERE